@font-face {
    font-family: 'Passion One';
    src: url(fontes/passion-one-bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Sriracha';
    src: url(fontes/Sriracha-Regular.ttf);
}

body {
    height: 97vh;
    background-image: url('imagens/background001.jpg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: -20px;
    background-attachment: fixed;
}

article {
    margin-top: -65px;
    margin-right: -8px;
    margin-left: -8px;
    font-family: 'Sriracha', cursive;
    font-size: 4em;
    margin-bottom: -15px;
}
header {
    background-color: black;
    color: white;
    text-align: center;
    margin-right: -8px;
    margin-left: -8px;
}

header > h1 {
    font-size: 11em;
    margin: -8px 0px;
    font-family: 'Passion One', sans-serif;
    font-weight: bold;
    padding-top: 30px;
}

header > p {
    padding-bottom: 50px;
    padding-top: 1px;
    font-size: 1.3em;
}
div {
    max-width: 100%;
    display: block;
}

div.cabecalho {
    display: block;
}

div.total {
    background-color: white;
    padding: 110px 35px 100px;
}

div.foto {
    color: white;
    padding: 120px 71px -3px;
    background-color: rgba(0, 0, 0, 0.322);
    max-width: 800px;
    height: auto;
    margin-left: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    
}
div.rodape {
    background-color: black;
}

footer {
    background-color: black;
    color: white;
    font-size: 1em;
    text-align: center;
    margin-right: -8px;
    margin-left: -8px;
}

* > a {
    text-decoration: none;
    color: white;
}